:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


html, body {
  padding: 10px;
  background-image: url('./assets//pexels-karolina-grabowska-4022121.jpg');
  background-size: cover;
  background-attachment: fixed;

}

.recipe-container {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.recipe-card {
  background: black;
}
































